<h1>Event Roster : {{event.event_title}}</h1>

<h2><small> Attending </small></h2>

<table class="table">

	<thead>
		<tr>
			<th>Rank</th>
			<th>Last Name</th>
			<th>First Name</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let member of avails">
			<ng-container *ngIf="member.status == availStatus.YES">
				<td>{{member.rank_text_short}}</td>
				<td>{{member.lname}}</td>
				<td>{{member.fname}} </td>
			</ng-container>
		</tr>
	</tbody>

</table>