<h2>Member Manager</h2>

<div bsModal
     #newUserByEmailModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Add New Member By E-Mail</h4>
				<button type="button"
				        class="close pull-right"
				        (click)="newUserByEmailModal.hide()"
				        aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p>
					In order to create an account, submit a valid name and email. The user will receive a verification email
					with a temporary password. Once a user has changed their password, they will be given access to
					the rest of the website.
				</p>
				<form>
					<div class="row">
						<div class="form-group col">
							<label for="input_email">E-Mail</label>
							<input type="email"
							       class="form-control"
							       [(ngModel)]="newMember.email"
							       name="email"
							       id="input_email"
							       (ngModelChange)="verifyFields()" />

						</div>

						<div class="form-group col">
							<label for="input_fname">First Name</label>
							<input type="text"
							       class="form-control"
							       [(ngModel)]="newMember.fname"
							       name="fname"
							       id="input_fname"
							       (ngModelChange)="verifyFields()" />
						</div>

						<div class="form-group col">
							<label for="input_lname">Last Name</label>
							<input type="text"
							       class="form-control"
							       [(ngModel)]="newMember.lname"
							       name="lname"
							       id="input_lname"
							       (ngModelChange)="verifyFields()" />
						</div>
					</div>

					<button [disabled]="disableAddUser"
					        [class.btn-success]="!disableAddUser"
					        [class.btn-warning]="disableAddUser"
					        class="btn"
					        (click)="submitNewUser(); newUserByEmailModal.hide();">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<p>
	This page will allow staff members to create, edit, and remove members from the system. Only the current
	CO and webmaster will be able to modify any details regarding staff members.
</p>

<div class="row">
	<div class="col">
		<md-input-container style="width:100%">
			<input mdInput
			       placeholder="Search (try Level 3, fname Andrew, or {rank - short} {level #})"
			       (ngModelChange)="search($event)"
			       [ngModel]="searchParam">
		</md-input-container>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Level</th>
			<th>E-Mail</th>
			<th>Phone #</th>

			<th>
				<div class="btn-group btn-group-sm"
				     role="group">
					<button class="btn btn-xs btn-success"
					        (click)="newUserByEmailModal.show()">New Member</button>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let member of filteredMembers"
		    [class.table-active]="member.filtered">
			<td>
				{{member.member_id}}
			</td>
			<td>
				{{member.rank?.rank_text_short}} {{member.fname}} {{member.lname}}
			</td>
			<td>
				{{member.level && member.rank.branch == "Cadet" ? member.level : ""}}
			</td>
			<td>
				<a *ngIf="member.email != null"
				   [href]="'mailto:' + member.email">
					{{member.email}}
				</a>
			</td>
			<td>
				{{member.phone_number && member.phone_number != 0 ? member.phone_number : ""}}
			</td>
			<td>
				<div class="btn-group btn-group-sm"
				     role="group">
					<button *ngIf="!!(member.initialized)"
					        class="btn btn-xs btn-info"
					        [routerLink]="'/members/staff/member-manager/member-editor/' + member.member_id">Edit</button>
					<button *ngIf="!(member.initialized)"
					        class="btn btn-xs btn-warning"
					        (click)="initializeUser(member)">Initialize</button>
					<button class="btn btn-xs btn-danger disabled">Delete</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
