<div class="alert alert-dismissible fade show" [class.alert-success]="notification.style == 'success'" [class.alert-warning]="notification.style == 'warning'"
 role="alert">

	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>

	{{notification.text}}
</div>
