<h2>Sign In Authenticator Page</h2>

<p>
	When cadets arrive at an event, a staff member will have a mobile device out thats connected to the internet. This
	page will display a searchable list. Each cadet shall find their name in the list and select their name. Once open,
	they will be presented with a randomly generated string, where they will copy and paste it into a form field in
	order to authenticate themselves, OR they will just type in their password.
</p>

<p>
	Having them type in their password sounds like the best idea at the moment, but can be kind of slow for those that
	don't remember it, or because of slow typers. Later on, each cadet may get an ID card with a barcode that ccan be
	scanned. When a cadet comes in, they can just scan their barcode and it will automatically sign them in.
</p>

<div class = "row">
	<div class = "col">
		<label>
			Search:
			<input [(ngModel)] = "searchQuery" (keyup) = "queryUpdate()" />
		</label>
	</div>
</div>

<table class = "table">

	<thead>
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>
	</thead>

	<tbody>
	<tr *ngFor = "let user of filteredUsers">
		<td>
			{{user.rank ? user.rank.rank_text_full : ""}} {{user.fname}} {{user.lname}}
		</td>
		<td>

			<!--Showing Challenge Button-->
			<button *ngIf="!user.showChallenge && user.status != attendanceStatus.PRESENT" class = "btn btn-info" (click)="startSignInProcess(user.member_id)">
				Challenge
			</button>

			<!--Showing Challenge-->
			<ng-container *ngIf="user.showChallenge">
				<label  for="input_challenge"> Password
					<input type="password" name="challenge" id="input_challenge" [(ngModel)]="challenge"/>
				</label>
				<button class = "btn btn-primary" (click)="submitChallengeAnswer(user.member_id)">
					Sign In
				</button>
			</ng-container>

			<!--Challenge Passed-->
			<ng-container *ngIf="user.status == attendanceStatus.PRESENT">

				<button class="btn btn-success" disabled>
					Signed In
				</button>

			</ng-container>

		</td>
	</tr>
	</tbody>

</table>