<ng-container [formGroup]="form"
              class="form-group"
              *ngIf="question != null && question.key != null">

	<ng-container [ngSwitch]="question.controlType">

		<mat-form-field *ngSwitchCase="'textbox'"
		                class="col-sm-6 formfix">

			<ng-container *ngIf="!question.multiline">

				<input matInput
				       ngDefaultControl
				       [formControlName]="question.key"
				       [id]="question.key"
				       [type]="'text'"
				       [value]="question.value || ''"
				       [placeholder]="question.label">

			</ng-container>


			<ng-container *ngIf="question.multiline">
				<textarea matInput
				          [formControlName]="question.key"
				          [id]="question.key"
				          [value]="question.value || ''"
				          [placeholder]="question.label"></textarea>
			</ng-container>

			<mat-error *ngIf="!isValid">
				{{question.label}} is invalid!
				<span *ngIf="!!this.form.get(this.question.key).errors.email">
					Must be a valid E-Mail</span>
			</mat-error>

		</mat-form-field>


		<input *ngSwitchCase="'hidden'"
		       [formControlName]="question.key"
		       [id]="question.key"
		       type='hidden'
		       hidden
		       [value]="question.value || ''">


		<mat-form-field *ngSwitchCase="'password'"
		                class="col-sm-6">
			<input matInput
			       [formControlName]="question.key"
			       [id]="question.key"
			       [type]="'password'"
			       [placeholder]="question.label">


			<mat-error *ngIf="!isValid">
				<span *ngIf="wasTouched">
					Invalid Password.
				</span>
				<span *ngIf="errors.MatchPassword">
					Passwords must match!
				</span>
			</mat-error>

		</mat-form-field>


		<mat-form-field *ngSwitchCase="'number'"
		                class="col-sm-4">
			<input matInput
			       [formControlName]="question.key"
			       [id]="question.key"
			       [type]="'number'"
			       [max]="question.max"
			       [min]="question.min"
			       [placeholder]="question.label">


			<mat-error *ngIf="!isValid && wasTouched">
				Invalid Number.
				<span *ngIf="question.value < question.min">
					Minimum: {{question.min}}.
				</span>
				<span *ngIf="question.value > question.max">
					Max: {{question.max}}.
				</span>
			</mat-error>

		</mat-form-field>

		<mat-form-field class="col-sm-4"
		                *ngSwitchCase="'dropdown'">

			<mat-select [id]="question.key"
			            [formControlName]="question.key"
			            [placeholder]="question.label"
			            [value]="question.value"
			            style="width:100%; padding-bottom: 1.29688em">


				<mat-option *ngFor="let opt of question.options"
				            [value]="opt.key"
				            [attr.selected]="opt.key == question.value">{{opt.value}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<div class="col-sm-12"
		     *ngSwitchCase="'header1'">
			<h1 [innerHTML]="question.label"></h1>
		</div>

		<div class="col-sm-12"
		     *ngSwitchCase="'header2'">
			<h2 [innerHTML]="question.label"></h2>
		</div>

		<span class="col-sm-3"
		      *ngSwitchCase="'button'">
			<button mat-raised-button
			        [color]="question.color"
			        (click)="redirect()">
				{{question.label}}
			</button>
		</span>


		<div *ngSwitchCase="'date'"
		     class="col-sm-3">

			<mat-form-field>

				<input matInput
				       [matDatepicker]="datePicker"
				       [id]="question.key"
				       [placeholder]="question.label"
				       [formControlName]="question.key"
				       [value]="question.value"
				       class="col-10">


				<!-- <mat-datepicker-toggle [for]="question.key"
				                       matSuffix>
				</mat-datepicker-toggle> -->

				<mat-datepicker #datePicker></mat-datepicker>

				<mat-error *ngIf="!isValid && wasTouched">
					Invalid Date / Time.
				</mat-error>

			</mat-form-field>


			<button mdSuffix
			        mat-raised-button
			        class="col-sm-3"
			        (click)="$event.stopPropagation(); datePicker.open(); false;">Open</button>

		</div>

		<div *ngSwitchCase="'time'"
		     class="col-sm-3">
			<timepicker [formControlName]="question.key"
			            [id]="question.key"
			            [showMeridian]="false"></timepicker>
		</div>

		<!-- Need to fix displaying checked value or not -->
		<span *ngSwitchCase="'checkbox'"
			  class="col-sm-3">
			<mat-checkbox [formControlName]="question.key">{{question.label}}</mat-checkbox>

		</span>

	</ng-container>

</ng-container>
