<h1>In the Community</h1>

<div class="ui two column grid">

	<div class="row">

		<div class="col">

			<p id="p_community_details">
				As one of the aims of the Air Cadet Program is to develop in youth the attributes of good citizenship,
				27 Squadron is an active participant in many annual community events, including Remembrance Day services,
				Warrior's Day parades, and the Battle of Britain ceremonies. Cadets also share in activities with
				patients at Parkwood Hospital whenever possible. Being a part of these events is a way for members
				to give back to the community and pay tribute to the men and women who have made the cadet movement
				what is today.
			</p>
		</div>

		<div class="col"
		     *ngIf="events!= null && events.length > 0">

			<app-event-card *ngFor="let disp_event of events"
			                [event]="disp_event"></app-event-card>

		</div>

		<div class="col"
		     *ngIf="events== null || events.length == 0">

			<div class="card">
				<div class="card-block">
					<h4 class="card-title">No Events</h4>
					<p class="card-text">
						There are currently no upcoming events!
					</p>
				</div>
			</div>

		</div>
	</div>

</div>
