<h1>Training Manager</h1>

<table class="table table-inverse">
	<thead>
		<tr>

			<th>
				Title
			</th>
			<th>
				Start
			</th>
			<th>
				End
			</th>
			<th>
				Instructor
			</th>
			<th>
				<!--Edit Button-->
			</th>

		</tr>
	</thead>
	<tbody>

		<tr *ngFor="let class of classes; let i = index">

			<td>
				{{class.title}}
			</td>

			<td>
				{{class.start}}
			</td>

			<td>
				{{class.end}}
			</td>

			<td *ngIf="class.instructor_member_id == null">
				<span class="badge badge-warning">No Instructor Assigned ({{class.instructor_member_id}})</span>
			</td>
			<td *ngIf="class.instructor != null">
				{{class.instructor.rank}} {{class.instructor.fname}} {{class.instructor.lname}}
			</td>
			<td *ngIf="class.instructor == null && class.instructor_member_id != null">
				<span class="badge badge-danger">Instructor was not loaded! ID: {{class.instructor_member_id}}</span>
			</td>

			<td>
				<button md-raised-button [routerLink]="'training-event-editor/' + class.id" disabled>Edit</button>
			</td>

		</tr>

	</tbody>
</table>
