<div class="row">
	<div class="col">
		<h1>27 (City of London) Squadron Royal Canadian Air Cadets</h1>
	</div>
</div>

<div class="container">

	<dynamic-form [questions]="questions"
	              (data)="loginAction($event)"
	              [buttonText]="'Login'"></dynamic-form>

</div>
