<div class="card" *ngIf="event.is_public">
	<img class="card-img-top" *ngIf="event.img_src" [src]="getPath(event.img_src)">
	<div class="card-block">
		<h4 class="card-title">{{event.event_title}}</h4>
		<p class="card-text">
			{{event.event_description}}
		</p>
	</div>
</div>