<h4>Squadron History</h4>

<p>
	27 Squadron received its charter in October 1941 and is among the oldest of the squadrons in Canada. Many members of the squadron served in the Royal Canadian Air Force (RCAF) during World War II and the Korean conflict; even with several with distinction. The following is a record of the names of former Commanding Officers of 27 Squadron, individuals who have contributed to the longevity and achievements of the unit.
</p>

<ng-container *ngFor="let officer of pastCOs" >
	<app-member-card [member] = "officer"></app-member-card>
</ng-container>