
<div class = "row">

	<div class = "col-md-6 text-center">

		<h1>About Us: The Air Cadet Program</h1>

		<img class="text-center" src = "assets/images/aircadetlogo.jpg" align = "center" alt = "ACL_Logo" />

	</div>

	<div class = "col-md-6">

		<p>The Air Cadet Program is a national youth program that provides Canadians aged 12 to 18 with fun, challenging, and rewarding activities. The aim of this program is:</p>

		<ul>
			<li>
				<b><i>To develop in youth the attributes of good citizenship and leadership.</i></b>
				Cadets learn valuable life and work skills, such as teamwork, professionalism, mutual
				respect, integrity, and leadership. They are also encouraged to become active and
				responsible members of the community, by contributing to environmental, citizenship, and
				community activities.
			</li>
			<li>
				<b><i>Promote physical fitness.</i></b>
				Cadets develop an understanding of the benefits of a healthy lifestyle. They also
				participate in fitness activities, which teach them to play fairly and enable them to take
				on new challenges.
			</li>
			<li>
				<b><i>Stimulate the interest of youth in the air activities of the Canadian Forces.</i></b>
				Exposure to the air element of the Canadian Forces is a unique part of the program,
				distinguishing it from other youth organizations. However, it is important to note that Air
				Cadets are not members of the Canadian Forces, nor are they expected to join the military.
			</li>
		</ul>
	</div>
</div>


<div class = "row">

	<p>Cadets is a great way for youth to learn more about Canada, make new friends and develop life skills
		that will enable them to succeed no matter what career they choose. </p>

</div>
