<div class="alert alert-warning hidden-print">
	<b>Warning!</b> There is a bug with Chrome that does not print the permission form correctly. Please try a different broser if you are experiencing any issues.
</div>

<div *ngIf="!!event" style="font-size:12px;">

	<div class="row">
		<div class="col-2">
			<img style="height: 5em" [src]="environment.serverBaseURL + '/assets/images/logo.png'" />
		</div>
		<div class="col-10" style="margin:auto;">
			<h1>
				{{event.event_title}} Permission Form
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<p>
				<b>Parent / Guardian name: </b>
			</p>
		</div>
		<div class="col-8 underline">

		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<!-- <p> -->
			<b>Cadet name: </b>
			<!-- </p> -->
		</div>
		<div class="col-8 underline">
			<!-- <p> -->
			{{ user.rank.rank_text_short }} {{user.lname}}, {{user.fname}}
			<!-- </p> -->
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<p>
				By signing below, I, the parent, give my cadet permision to attend
				<i>{{event.event_title}}</i>
				<span *ngIf="!isSameDay">
					from {{event.start_date_time | date}} {{startDate.getHours()}}:{{startDate.getMinutes()}} hrs to {{event.end_date_time | date}} {{endDate.getHours()}}:{{endDate.getMinutes()}} hrs.
				</span>
				<span *ngIf="isSameDay">
					on {{event.start_date_time | date}} from {{startDate.getHours()}}:{{startDate.getMinutes()}} hrs to {{endDate.getHours()}}:{{endDate.getMinutes()}} hrs.
				</span>

				I will ensure my cadet has transportation to and from the event, and will ensure that they arrive and depart on time. In the event that the cadet violates serious rules or regulations, the Officer of Primary Interest (OPI) may recommend the cadet be Returned To Unit (RTU). By signing below, I also understand that it will become my responsibility to arrange transportation from
				<span *ngIf="!(event.location)">the event location</span>
				<span *ngIf="!!(event.location)">{{event.location}}</span> if my cadet is RTU'd.
			</p>

			<p>
				By signing below, I, the cadet, understand that I must comply with the rules and regulations outlined within the CATOS. Failing to meet the standards will result in disciplinary actions outlined in CATO 15-22. Extensive remedies may result in a Return To Unit (RTU). I also understand that it is my responsibility that I have all the equipment required for the event, and I will not bring any prohibited items. It is also my responsibility to ensure that I have recorded all the information needed for the event, and that I will leave early enough to arrive at the correct location prior to the rendezvous time. If I am unsure of any details of the event, I will use the chain of command.
			</p>

			<p>
				All final decisions will be made by the OPI
				<span *ngIf="!!opi">( {{opi.rank.rank_text_short}} {{opi.fname.substr(0, 1) | uppercase}}. {{opi.lname}} )</span> for the event.
			</p>
		</div>
	</div>


	<ng-container *ngIf="!!event.additional_permission_form_notes">
		<h2>
			Additional Notes
		</h2>
		<p>
			{{event.additional_permission_form_notes}}
		</p>
	</ng-container>

	<h2>Signatures</h2>

	<div class="row">

		<div class="col-2">
			<p>
				Parent Signature:
			</p>
		</div>
		<div class="col-4 underline"></div>

		<div class="col-2 text-right">
			<p>
				Date:
			</p>
		</div>
		<div class="col-4 underline">{{today | date}}</div>

	</div>

	<div class="row">
		<div class="col-2">
			<p>
				Cadet Signature:
			</p>
		</div>
		<div class="col-4 underline"></div>
	</div>

</div>
