<h2>Cadet History Page</h2>

<div class="row">

	<div class="col-8">
		<h3>The Early Days</h3>

		<p>
			In the early days of World War II, France had fallen, Britain was under heavy attack from the air, and there was a critical need for planes and young men trained to fly them. Canadians came up with the idea to create a corps of teenaged youth who would devote some of their spare time to join the Royal Canadian Air Force (RCAF). In 1940, the Minister of National Defence for Air, Charles G. Power, called a group of influential civilians and asked them to create a nation-wide voluntary organization to sponsor and develop this program. On the 19 November 1940, Order-in-Council PC 6647 was passed, establishing the Air Cadet League to work in partnership with the RCAF. On 9 April 1941, the Air Cadet League was granted a Dominion Charter authorizing it to operate as a non-profit corporation. The first squadrons were formed in 1941. By 1942, there were 135 squadrons with 10,000 cadets. In the next year, there were 315 squadrons with 23,000 cadets. In 1944, the program reached its peak with 29,000 cadets in 374 squadrons.
		</p>

		<h3>The Post-War Years</h3>

		<p>
			After the war, many squadrons were disbanded, causing the membership to drop to an all-time low of 11,000 cadets in 155 squadrons. The Air Cadet League began focusing on converting the program to provide an incentive that would be equal to the appeal of graduating into the RCAF. They created a program that combined aviation and citizenship training. They introduced awards for proficiency and loyalty to the squadrons, summer courses were offered at RCAF stations, and a flying scholarship course was developed. Interest was renewed; by 1961, 332 squadrons were in existence and in 1972, the Canadian government agreed to raise the limit of membership to 28,000 cadets.
		</p>

		<h3>The Post-Unification Years</h3>

		<p>
			In 1968, the three elements of the Canadian Forces were unified. At this time, the Air Cadet League lost its original partner, the RCAF, and started a new partnership with the Canadian Forces. In 1969, a Directorate of Cadets was formed at National Defence Headquarters to create policies and coordinate the activities of the three different cadet movements. In 1975, legislation was changed to officially allow the enrolment of female cadets into the Royal Canadian Sea, Army, and Air Cadets.
		</p>
	</div>

	<div class="col-4">
		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="/assets/images/history/airCadetHistory1.jpg">
			<div class="card-block">
				<p class="card-text">
					Initiates of the newly developed air cadet program.
				</p>
			</div>
		</div>
	</div>
</div>

