<div *ngIf="form != null">
	<form (ngSubmit)="!submittingForm && onSubmit()"
	      [formGroup]="form"
	      (keydown)="keyDownFunction($event)">

		<div class="form-group">
			<ng-container *ngFor="let question of questions">
				<df-question [question]="question"
				             [form]="form"></df-question>
			</ng-container>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit"
				        (click)="onSubmit()"
				        [disabled]="!form.valid"
				        [color]="'primary'"
				        mat-raised-button>{{buttonText}}</button>
			</div>

		</div>
	</form>
</div>
