<div class="card size_fix"
	 *ngIf="!!(member)">
	<img class="card-img-top member_card_img"
	     [src]="imagePath"
	     *ngIf="showImage">
	<div class="card-block">
		<h4 class="card-title">{{member.fname}} {{member.lname}}</h4>
		<h6 class="card-subtitle mb-2 text-muted">
			<span *ngIf="!!(rankString)">{{rankString}} - </span>{{member.title}}
		</h6>
	</div>
</div>
